<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block title %}
        {% if page is defined and page.title is defined  %}
            <title>{{ page.title }}</title>
        {% else %}
            <title>Система подачи заявок | Админ панель</title>
        {% endif%}
    {% endblock %}
    {% block stylesheets %}
        <link href="{{ asset('bundles/crmadmin/stylesheets/common.css') }}" rel="stylesheet" media="all">
        <style>
            .logo a{
                font-size: 18pt;
                color: #ffffee;
            }
            .logo{
                text-align: left;
                padding: 50px;
            }
        </style>
    {% endblock %}
    {% block javascripts %}
        <script rel="script" src="{{ asset('bundles/crmadmin/javascripts/jQuery.js') }}"></script>
        <script rel="script" src="{{ asset('bundles/crmadmin/lib/ckeditor/ckeditor.js') }}"></script>
        <script>
            $(document).ready(function(){
                if ($('textarea').length > 0){
                    CKEDITOR.replace( 'textarea' );
                }
            })
        </script>
    {% endblock %}
</head>
<body>
<div class="body">
    <header>
        <div class="logo">
            <a href="http://im-kard.ru" target="_blank">Im-kard</a>
        </div>
    </header>
    <div class="menu">
        {{ include('CrmAdminBundle::menu.html.twig') }}
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <br style="clear: both" />
    {# @todo Перевести в плагин #}
</div>
<footer>

</footer>
</body>
</html>