{% extends 'CrmMainBundle::layout.html.twig' %}

{% block content %}
    <div style="text-align: center">
        <img src="{{ asset('bundles/crmmain/images/3.png') }}">
    </div>
    <table>
        <tr>
            <td>
                <div class="text-main">
                    <h2>{{ indexPage_1.title | raw }}</h2>
                    <div>{{ indexPage_1.body | raw }}</div>
                </div>
            </td>
            <td>
                <div class="text-main">
                    <h2>{{ indexPage_2.title | raw }}</h2>
                    <div>{{ indexPage_2.body | raw }}</div>
                </div>
            </td>
            <td style="width: 300px">
                <div class="auth" id="auth">
                    <h2>Подать заявку</h2>
                    <div class="input-box"><input type="text" value="" placeholder="Фамилия" name="lastName" id="lastName"></div>
                    <div class="input-box"><input type="text" value="" placeholder="Имя" name="firstName"  id="firstName"></div>
                    <div class="input-box"><input type="text" value="" placeholder="Телефон" name="phone" id="phone"></div>
                    <button class="btn" id="sendOrder">Отправить заявку</button>
                </div>
                <br/>
                <div class="text-main-2">
                    <div>{{ indexPage_3.body | raw }}</div>
                </div>
            </td>
        </tr>
    </table>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/crmmain/lib/fancyapps/jquery.fancybox.css') }}" rel="stylesheet" media="all">
    <style>
        table tr td{
            vertical-align: top;
            width: 40%;
        }
        .auth{
            padding: 10px 30px;
            border: 2px solid #dadada;
            border-radius: 3px;
        }
        .input-box{
            padding: 5px 0;
        }
        input{
            width: 300px;
        }
        .text-main{
            padding: 10px 30px;
            color: #333333;
            line-height: 1.5em;
            text-align: justify;
        }
        .text-main-2{
            width: 312px;
            color: #333333;
            line-height: 1.5em;
            text-align: justify;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/crmmain/javascripts/jquery.maskedinput.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/crmmain/lib/fancyapps/jquery.fancybox.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function(){


            $(".fancybox").fancybox();

            $("#phone").mask("+7 (999) 999-9999");

            $('#sendOrder').click(function(){
                lastName    = $('#lastName').val();
                firstName   = $('#firstName').val();
                phone       = $('#phone').val();
                errorFrom = 0;
                if (lastName == ''){
                    $('#lastName').css('border','1px solid #cc3333');
                    errorFrom = 1;
                }
                if (firstName == ''){
                    $('#firstName').css('border','1px solid #cc3333');
                    errorFrom = 1;
                }
                if (phone == ''){
                    $('#phone').css('border','1px solid  #cc3333');
                    errorFrom = 1;
                }
                if (errorFrom == 0){
                    $.ajax({
                        type: "POST",
                        url: "{{ path('auth_party_1') }}",
                        data: "lastName="+lastName+"&firstName="+firstName+"&phone="+phone,
                        success: function(msg){
                            if ('msg' != 'error'){
                                // Ответ положителен
                                $('#auth').html(msg);
                            }else{
                                $('.inpopup').children('title').html('Подать заявку');
                                $('.inpopup').children('p').html('Что-то пошло не так');
                                $('.popup').fadeIn();
                            }
                        }
                    });
                }
            });

            $('#auth').on("click", "#sendTestPhone", function(){
                errorFrom = 0;
                testCode    = $('#testCode').val();
                if (testCode == ''){
                    $('#testCode').css('border','1px solid #cc3333');
                    errorFrom = 1;
                }
                if (errorFrom == 0){
                    $.ajax({
                        type: "POST",
                        url: "{{ path('test_phone') }}",
                        data: "testCode="+testCode,
                        success: function(msg){
                            if (msg == 'success'){
                                window.location.href='{{ path('auth_party_2') }}';
                            }else{
                                $('.inpopup').children('title').html('Подтверждение телефона');
                                $('.inpopup').children('p').html('Код введен не верно');
                                $('.popup').fadeIn();
                            }
                        }
                    });
                }
            });
        })
    </script>
{% endblock %}