<ns2:TacPackage xmlns:ns2="http://www.example.org/">
    <PackageInfo>
        <PackageNumber>FLGMN-{{ driver.user.id }}</PackageNumber>
        <PackageDate> {{ "now" | date('Y-m-d')}}Z</PackageDate>
        <OvkId>FLGMN</OvkId>
        <CardManufacturerId>ATLAS</CardManufacturerId>
    </PackageInfo>
    <Order>
        <OrderNumber>FLGMN-{{ driver.user.id }}</OrderNumber>
        <OrderDate>{{ driver.created | date('Y-m-d')}}Z</OrderDate>
        <OrderCardType>D</OrderCardType>
        <OrderCardCount>1</OrderCardCount>
        <PersonOrder>
            <PersonInfo>
                <NameFirst>{{ driver.user.firstName }}</NameFirst>
                <NameLast>{{ driver.user.lastName }}</NameLast>
                <BirthDate>{{ driver.user.birthDate | date('Y-m-d') }}Z</BirthDate>
                <SNILS>{{ driver.user.snils }}</SNILS>
                <Passport>
                    <PassportSeries>{{ driver.passportSerial }}</PassportSeries>
                    <PassportNumber>{{ driver.passportNumber }}</PassportNumber>
                    <PassportIssuedBy></PassportIssuedBy>
                    <PassportDivision></PassportDivision>
                </Passport>
            </PersonInfo>
            <ContactInfo/>
            <DriverLicense>
                <DriverLicenseNumber>{{ driver.driverDocNumber }}</DriverLicenseNumber>
                <DriverLicenseCountryEstrCode>43</DriverLicenseCountryEstrCode>
                <DriverLicenseCountry>{{ driver.driverDocCountry.title }}</DriverLicenseCountry>
                <DriverLicenseOrg>{{ driver.driverDocIssuance }}</DriverLicenseOrg>
                <DriverLicenseIssuedDate>{{ driver.driverDocDateStarts | date('d.m.Y') }}Z</DriverLicenseIssuedDate>
                <DriverLicenseExpirationDate>{{ driver.driverDocDateEnds | date('d.m.Y') }}Z</DriverLicenseExpirationDate>
            </DriverLicense>
            <OrgName>{{ driver.companyName }}</OrgName>
            <OrgPostAddress>
                <FullAddress>
                    {{ driver.zipcode }}, Россия, {{ driver.region.title }}, {{ driver.cityType }} {{ driver.city }},
                    {{ driver.streetType }}{{ driver.street }}, д.{{ driver.home }}
                    {{ driver.corpType }}{{ driver.corp }}, {{ driver.roomType }}{{ driver.room }}
                </FullAddress>
                <PostCode>{{ driver.zipcode }}</PostCode>
                <RegionCode>{{ driver.region.title }}</RegionCode>
                <Settlement>{{ driver.cityType}} {{ driver.city }}</Settlement>
                <Street>{{ driver.streetType }} {{ driver.street }}</Street>
                <House>{{ driver.home }}</House>
                <Building>{{ driver.corpType }} {{ driver.corp }}</Building>
                <Office>{{ driver.roomType }} {{ driver.room }}</Office>
            </OrgPostAddress>
            <Photo>
                <AttachmentName>{{ files[2].file.fileName }}</AttachmentName>
                <AttachmentType>Photo</AttachmentType>
                <FileFormat>JPG</FileFormat>
                <Body>
                {{ files[2].base }}
                </Body>
            </Photo>

            <Sign>
                <AttachmentName>{{ files[3].file.fileName }}</AttachmentName>
                <AttachmentType>Signature</AttachmentType>
                <FileFormat>JPG</FileFormat>
                <Body>
                {{ files[3].base }}
                </Body>
            </Sign>
        </PersonOrder>
    </Order>
</ns2:TacPackage>
{#<DriverCardRequest>#}
    {#<Ovk>FLGMN</Ovk>#}
    {#<CardManufacturer>ATLAS</CardManufacturer>#}
    {#<TransportOrgName>{{ driver.companyName }}</TransportOrgName>#}
    {#<TransportOrgAddressPostcode>{{ driver.zipCode }}</TransportOrgAddressPostcode>#}
    {#<TransportOrgAddressRegion>{{ driver.region.title }}</TransportOrgAddressRegion>#}
    {#<TransportOrgAddressSettlement>г.{{ driver.city }}</TransportOrgAddressSettlement>#}
    {#<TransportOrgAddressStreet>{{ driver.street }}</TransportOrgAddressStreet>#}
    {#<TransportOrgAddressHouse>{{ driver.home }}</TransportOrgAddressHouse>#}
    {#<TransportOrgAddressBuilding>{{ driver.corp }}</TransportOrgAddressBuilding>#}
    {#<TransportOrgAddressOffice>{{ driver.room }}</TransportOrgAddressOffice>#}
    {#<TransportOrgAddFullAddress>#}
        {#{{ driver.zipcode }}, Россия, {{ driver.region.title }}, {{ driver.cityType }} {{ driver.city }},#}
        {#{{ driver.streetType }}{{ driver.street }}, д.{{ driver.home }}#}
        {#{{ driver.corpType }}{{ driver.corp }}, {{ driver.roomType }}{{ driver.room }}#}
    {#</TransportOrgAddFullAddress>#}
    {#<LastName>{{ driver.user.lastName }}</LastName>#}
    {#<FirstName>{{ driver.user.firstName }}</FirstName>#}
    {#{% if driver.user.surName %}#}
    {#<MiddleName>{{ driver.user.surName  }}</MiddleName>#}
    {#{% endif %}#}
    {#<Snils>{{ driver.user.snils }}</Snils>#}
    {#<DateOfBirth>{{ driver.user.birthDate | date('d.m.Y') }}</DateOfBirth>#}
    {#<PhoneNumber>{{ driver.user.username }}</PhoneNumber>#}
    {#<ContactInfo></ContactInfo>#}
    {#<PassportSerial>{{ driver.passportSerial }}</PassportSerial>#}
    {#<PassportNumber>{{ driver.passportNumber }}</PassportNumber>#}
    {#<PassportIssuer>{{ driver.passportIssuance }}</PassportIssuer>#}
    {#<PassportIssuerCode>{{ driver.passportCode  }}</PassportIssuerCode>#}
    {#<PassportIssueDate>{{ driver.passportIssuanceDate | date('d.m.Y') }}</PassportIssueDate>#}
    {#<LicenseNumber>{{ driver.driverDocNumber }}</LicenseNumber>#}
    {#<LicenseCountry>{{ driver.driverDocCountry.title }}</LicenseCountry>#}
    {#<LicenseIssuer>{{ driver.driverDocIssuance }}</LicenseIssuer>#}
    {#<LicenseIssueDate>{{ driver.driverDocDateStarts | date('d.m.Y') }}</LicenseIssueDate>#}
    {#<LicenseExpiryDate>{{ driver.driverDocDateEnds | date('d.m.Y') }}</LicenseExpiryDate>#}
    {#<PaymentContract>АО-48/14 от {{ 'now' | date('d.m.Y') }}</PaymentContract>#}

{#</DriverCardRequest>#}