{% extends 'CrmMainBundle::layout.html.twig' %}

{% block content %}
    <table>
        <tr>
            <td>
                <div class="text-main">
                    <h2>{{ indexPage.title | raw }}</h2>
                    <div>{{ indexPage.body | raw }}</div>
                </div>
            </td>
            <td>
                <div class="auth" id="auth">
                    {% if user is null %}
                        <h2>Авторизация</h2>
                        <form method="POST" action="{{ path('_security_check') }}">
                            <div class="input-box"><input type="text" value="" placeholder="E-mail" name="_username"  id="username"></div>
                            <div class="input-box"><input type="password" value="" placeholder="Пароль" name="_password" id="password"></div>
                            <button class="btn" id="sendOrder">Войти</button>
                            <span style="padding: 0 10px"> </span>
                            <a href="{{ path('activate_register') }}">Регистрация</a>
                        </form>
                    {% else %}
                        <div style="text-align: center">
                            <a href="{{ path('activate_list') }}" class="ablue">
                                <h2>{{ user.title }}</h2>
                            </a>
                        </div>
                        <span class="blue">Уведомлений 0</span>
                        <br />
                        <br />
                        <a href="{{ path('activate_list') }}"><button class="btn" id="sendOrder">Войти</button></a>
                        <span style="padding: 0 40px"> </span>
                        <a href="/app.php/logout">Выйти</a>
                    {% endif %}
                </div>
            </td>
        </tr>
    </table>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        table tr td{
            vertical-align: top;
        }
        .auth{
            padding: 10px 30px;
            border: 2px solid #dadada;
            border-radius: 3px;
            width: 250px;
        }
        .input-box{
            padding: 5px 0;
        }
        input{
            width: 300px;
        }
        .text-main{
            padding: 10px 30px;
            color: #333333;
            line-height: 1.5em;
            text-align: justify;
        }
        .ablue{
            color: #1a5f89 !important;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){


            $('#sendOrder').click(function(){
                username    = $('#username').val();
                password   = $('#password').val();
                errorFrom = 0;
                if (username == ''){
                    $('#username').css('border','1px solid #cc3333');
                    errorFrom = 1;
                }
                if (password == ''){
                    $('#password').css('border','1px solid #cc3333');
                    errorFrom = 1;
                }
                if (errorFrom == 0){
                    $('#auth').submit();
                }
            });
        })
    </script>
{% endblock %}