{% extends 'CrmMainBundle::layout.html.twig' %}

{% block content %}
    <div class="box">
        <h2>Транспорт</h2>
        <table class="table">
            <tr>
                <th>Марка</th>
                <th>Модель</th>
                <th>Рег. Номер</th>
                <th>Статус</th>
                <th></th>
            </tr>
        {% for transport in transports %}
            <tr>
                <td>{{ transport.mark }}</td>
                <td>{{ transport.model }}</td>
                <td>{{ transport.regNumber }}</td>
                <td><span class="mes_1">На расмотрении</span></td>
                <td><img src="{{ asset('bundles/crmmain/images/print.jpg') }}" class="ico"></td>
            </tr>
        {% endfor %}
            <tr>
                <td>
                    <a href="{{ path('transport_add') }}"><button class="btn">Добавить</button></a>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .box .table{
            width: 100%;
        }
        .box .table tr td{
            padding: 5px;
            text-align: center;
        }

        .box .table tr:hover td{
            border-bottom: 1px dashed #1a5f89;
        }
        .box .table tr:last-child:hover td{
            border: none;
        }
        .mes_1{
            background: #fff1ae;
            padding: 5px 10px;
            border-radius: 5px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){


            $('#sendOrder').click(function(){
                username    = $('#username').val();
                password   = $('#password').val();
                errorFrom = 0;
                if (username == ''){
                    $('#username').css('border','1px solid #cc3333');
                    errorFrom = 1;
                }
                if (password == ''){
                    $('#password').css('border','1px solid #cc3333');
                    errorFrom = 1;
                }
                if (errorFrom == 0){
                    $('#auth').submit();
                }
            });
        })
    </script>
{% endblock %}