{% extends 'CrmMainBundle::layout.html.twig' %}

{% block content %}
    <div class="box">
        <h2>Оформление заявки</h2>
    </div>
    <div class="form">
        <form id="register_form" action="{{ path('auth_party_2') }}" method="post" enctype="multipart/form-data">
            {#{% form_theme form 'VidalMainBundle:Form:profile_form.html.twig' %}#}

            <table {{ block('widget_container_attributes') }} class="form_table">
                {% if formDriver.parent is empty and form_errors(formDriver)|length > 0 %}
                    <tr class="row">
                        <td colspan="2">
                            <div class="form_errors">
                                {{ form_errors(formDriver) }}
                            </div>
                        </td>
                    </tr>
                {% endif %}

                <tr>
                    <td colspan="2" class="table-title">
                        Пользователь
                    </td>
                </tr>
                {{ form_row(formUser.email) }}
                {{ form_row(formUser.lastName) }}
                {{ form_row(formUser.firstName) }}
                {{ form_row(formUser.surName) }}
                {{ form_row(formUser.snils) }}
                {{ form_row(formUser.birthdate) }}
                <tr>
                    <td colspan="2" class="table-title">
                        Адрес доставки
                    </td>
                </tr>
                {{ form_row(formUser.zipcode) }}
                {{ form_row(formUser.region) }}
                <tr>
                    <td>{{ form_label(formUser.cityType) }}</td>
                    <td>
                        {{ form_widget(formUser.cityType) }}
                        {{ form_widget(formUser.city) }}
                    </td>
                </tr>

                <tr>
                    <td>{{ form_label(formUser.streetType) }}</td>
                    <td>
                        {{ form_widget(formUser.streetType) }}
                        {{ form_widget(formUser.street) }}
                    </td>
                </tr>
                {{ form_row(formUser.home) }}
                <tr>
                    <td>{{ form_label(formUser.corpType) }}</td>
                    <td>
                        {{ form_widget(formUser.corpType) }}
                        {{ form_widget(formUser.corp) }}
                    </td>
                </tr>
                <tr>
                    <td>{{ form_label(formUser.roomType) }}</td>
                    <td>
                        {{ form_widget(formUser.roomType) }}
                        {{ form_widget(formUser.room) }}
                    </td>
                </tr>
                <tr>
                    <td><label>Вид адреса</label></td>
                    <td><div id="fullAddress2"></div></td>
                </tr>
                {#{{ form_row(formUser._token) }}#}
                </table>

            <br />

            {#<div class="userTypeDiv">#}
                {#<span style="display: inline-block; width: 246px;">#}
                    {#Выберите владельца карты:#}
                {#</span><select class="userType" data-placeholder=" владелец... ">#}
                    {#<option></option>#}
                    {#<option value="driver" {{ formFriver is defined ? 'selected' : '' }}>Водитель</option>#}
                    {#<option value="company">Предприятие</option>#}
                {#</select>#}
            {#</div>#}
            <br />
            <div class="multi-form">
                {% if formDriver is defined %}
                    {{ include('CrmMainBundle:Form:register_driver_form.html.twig') }}
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset("bundles/crmmain/lib/chosen/chosen.jquery.js") }}" type="text/javascript"></script>
    {#<script type="text/javascript"src="{{ asset('bundles/crmmain/javascripts/jquery.customfile.js') }}"></script>#}
    <script src="{{ asset('bundles/crmmain/javascripts/jquery.maskedinput.js') }}" type="text/javascript"></script>
    <script>
        $(document).ready(function(){

            $('.passportType').change(function(){
                if( $(this).val()==0){
                    $('.row_passportSerial').css('display', 'table-row');
                    $("#driver_passportNumber").mask("999999");
                }else{
                    $('.row_passportSerial').css('display', 'none');
                    $("#driver_passportNumber").unmask();
                }
            })

            $('#user_firstName').change(function(){
                var str = $('#user_firstName').val().charAt(0).toUpperCase() + $('#user_firstName').val().substr(1)
                $('#user_firstName').val(str);
            });
            $('#user_lastName').change(function(){
                var str = $('#user_lastName').val().charAt(0).toUpperCase() + $('#user_lastName').val().substr(1)
                $('#user_lastName').val(str);
            });
            $('#user_surName').change(function(){
                var str = $('#user_surName').val().charAt(0).toUpperCase() + $('#user_surName').val().substr(1)
                $('#user_surName').val(str);
            });
            function fullAddress(){
                var str = $('#driver_street').val().charAt(0).toUpperCase() + $('#driver_street').val().substr(1)
                $('#driver_street').val(str);
                var str = $('#driver_city').val().charAt(0).toUpperCase() + $('#driver_city').val().substr(1)
                $('#driver_city').val(str);

                var adr = $('#driver_zipcode').val() + ', '+
                        $('#driver_region_chosen .chosen-single span').html() + ', '+
                        $('#driver_cityType').val() + ' '+
                        $('#driver_city').val() + ', '+
                        $('#driver_streetType').val() + ' '+
                        $('#driver_street').val() + ', '+
                        'д.'+$('#driver_home').val();
                    if ($('#driver_corpType').val()!='' && $('#driver_corp').val()!=''){
                        adr +=', '+ $('#driver_corpType').val()+' '+
                                    $('#driver_corp').val();
                    }
                    if ($('#driver_roomType').val()!='' && $('#driver_room').val()!=''){
                        adr +=', '+ $('#driver_roomType').val()+' '+
                                $('#driver_room').val();
                    }
                $('#fullAddress').html(adr)
            }

            function fullAddress2(){
                var str = $('#user_street').val().charAt(0).toUpperCase() + $('#user_street').val().substr(1)
                $('#user_street').val(str);
                var str = $('#user_city').val().charAt(0).toUpperCase() + $('#user_city').val().substr(1)
                $('#user_city').val(str);

                var adr = $('#user_zipcode').val() + ', '+
                        $('#user_region_chosen .chosen-single span').html() + ', '+
                        $('#user_cityType').val() + ' '+
                        $('#user_city').val() + ', '+
                        $('#user_streetType').val() + ' '+
                        $('#user_street').val() + ', '+
                        'д.'+$('#user_home').val();
                if ($('#user_corpType').val()!='' && $('#user_corp').val()!=''){
                    adr +=', '+ $('#user_corpType').val()+' '+
                            $('#user_corp').val();
                }
                if ($('#user_roomType').val()!='' && $('#user_room').val()!=''){
                    adr +=', '+ $('#user_roomType').val()+' '+
                            $('#user_room').val();
                }
                $('#fullAddress2').html(adr)
            }
            $('#user_zipcode').change( fullAddress2);
            $('#user_region').change( fullAddress2);
            $('#user_cityType').change( fullAddress2);
            $('#user_city').change( fullAddress2);
            $('#user_streetType').change( fullAddress2);
            $('#user_street').change( fullAddress2);
            $('#user_home').change( fullAddress2);
            $('#user_corpType').change( fullAddress2);
            $('#user_corp').change( fullAddress2);
            $('#user_roomType').change( fullAddress2);
            $('#user_room').change( fullAddress2);

            $('#driver_zipcode').change( fullAddress);
            $('#driver_region').change( fullAddress);
            $('#driver_cityType').change( fullAddress);
            $('#driver_city').change( fullAddress);
            $('#driver_streetType').change( fullAddress);
            $('#driver_street').change( fullAddress);
            $('#driver_home').change( fullAddress);
            $('#driver_corpType').change( fullAddress);
            $('#driver_corp').change( fullAddress);
            $('#driver_roomType').change( fullAddress);
            $('#driver_room').change( fullAddress);


//            $('.form_table input[type=file]').customFile();
            $(".place-select").chosen({
                disable_search_threshold: 10,
                no_results_text: "Поиск не нашел ничего"
            });
            $(".delivery-select").chosen({
                disable_search_threshold: 10,
                no_results_text: "Поиск не нашел ничего",
                disable_search: true
            });
            $(".date-select select").chosen({
                disable_search_threshold: 10,
                no_results_text: "Поиск не нашел ничего",
                disable_search: true
            });
            $(".userType").chosen({
                disable_search_threshold: 10,
                no_results_text: "Поиск не нашел ничего",
                disable_search: true
            });

            $(".passportType").chosen({
                disable_search_threshold: 10,
                no_results_text: "Поиск не нашел ничего",
                disable_search: true
            });


            $("#user_snils").mask("999-999-999 99");
            $("#driver_passportSerial").mask("9999");
            $("#driver_zipcode").mask("999999");
            $("#user_zipcode").mask("999999");
            $("#driver_passportCode").mask("999-999");
            $.mask.definitions['h'] = "[DMP ]";
            $.mask.definitions['d'] = "[a-zA-Z0-9а-яА-Я ]";
            $('#driver_lastNumberCard').mask("RUDddddddddddddd");
            $('#driver_driverDocNumber').mask("dddd999999");
            $("#driver_passportNumber").mask("999999");

            $('#driver_cityType').chosen({
                disable_search_threshold: 10,
                disable_search: true,
                width: 100
            });
            $('#driver_streetType').chosen({
                disable_search_threshold: 10,
                disable_search: true,
                width: 100
            });
            $('#driver_roomType').chosen({
                disable_search_threshold: 10,
                disable_search: true,
                width: 100
            });
            $('#driver_corpType').chosen({
                disable_search_threshold: 10,
                disable_search: true,
                width: 100
            });


            $('#user_cityType').chosen({
                disable_search_threshold: 10,
                disable_search: true,
                width: 100
            });
            $('#user_streetType').chosen({
                disable_search_threshold: 10,
                disable_search: true,
                width: 100
            });
            $('#user_roomType').chosen({
                disable_search_threshold: 10,
                disable_search: true,
                width: 100
            });
            $('#user_corpType').chosen({
                disable_search_threshold: 10,
                disable_search: true,
                width: 100
            });



            $('.userType').change(function(){
                $('.multi-form').html('<img src="{{ asset('bundles/crmmain/images/loader.gif') }}" class="loader"/>');
                if( $(this).val()=='driver' ){
//                    $('.multi-form').html('');
                    $.ajax({
                        type: "GET",
                        url: "{{ path('get_register_form_driver') }}",
                        success: function(msg){
                            $('.multi-form').html(msg);
                            $(".place-select").chosen({
                                disable_search_threshold: 10,
                                no_results_text: "Поиск не нашел ничего"
                            });
                            $(".delivery-select").chosen({
                                disable_search_threshold: 10,
                                no_results_text: "Поиск не нашел ничего",
                                disable_search: true
                            });
                            $(".date-select select").chosen({
                                disable_search_threshold: 10,
                                no_results_text: "Поиск не нашел ничего",
                                disable_search: true
                            });
                            $(".userType").chosen({
                                disable_search_threshold: 10,
                                no_results_text: "Поиск не нашел ничего",
                                disable_search: true
                            });

                            $('#driver_cityType').chosen({
                                disable_search_threshold: 10,
                                disable_search: true,
                                width: 100
                            });
                            $('#driver_streetType').chosen({
                                disable_search_threshold: 10,
                                disable_search: true,
                                width: 100
                            });
                            $('#driver_roomType').chosen({
                                disable_search_threshold: 10,
                                disable_search: true,
                                width: 100
                            });
                            $('#driver_corpType').chosen({
                                disable_search_threshold: 10,
                                disable_search: true,
                                width: 100
                            });

                            $("#driver_passportCode").mask("999-999");
                            $("#user_snils").mask("999-999-999 99");
                            $("#driver_zipcode").mask("999999");
                            $('#driver_lastNumberCard').mask("RUDddddddddddddd");
                            $('#driver_driverDocNumber').mask("99dd999999");

                            $('#driver_zipcode').on('change', fullAddress);
                            $('#driver_region').on('change', fullAddress);
                            $('#driver_cityType').on('change', fullAddress);
                            $('#driver_city').on('change', fullAddress);
                            $('#driver_streetType').on('change', fullAddress);
                            $('#driver_street').on('change', fullAddress);
                            $('#driver_home').on('change', fullAddress);
                            $('#driver_corpType').on('change', fullAddress);
                            $('#driver_corp').on('change', fullAddress);
                            $('#driver_roomType').on('change', fullAddress);
                            $('#driver_room').on('change', fullAddress);

                            $('.form_widget').on('change','#driver_region', function(){
                                $.ajax({
                                    type: "GET",
                                    url: Routing.generate('select_city', { regionId: $('#driver_region').val() }),
                                    success: function (msg) {
                                        $('#driver_city').html(msg);
                                        $('#driver_city').trigger("chosen:updated");
                                    }
                                })
                            });
                        }
                    });
//                    $('.form_driver').fadeIn(300,function(){ $('.form_company').fadeOut(300)});
//                    $('select').trigger("liszt:updated");
                }else{
//                    $('.multi-form').html('');
                    $.ajax({
                        type: "GET",
                        url: "{{ path('get_register_form_company') }}",
                        success: function(msg){
                            $('.multi-form').html(msg);
                            $(".place-select").chosen({
                                disable_search_threshold: 10,
                                no_results_text: "Поиск не нашел ничего"
                            });
                            $(".delivery-select").chosen({
                                disable_search_threshold: 10,
                                no_results_text: "Поиск не нашел ничего",
                                disable_search: true
                            });
                            $(".date-select select").chosen({
                                disable_search_threshold: 10,
                                no_results_text: "Поиск не нашел ничего",
                                disable_search: true
                            });
                            $(".userType").chosen({
                                disable_search_threshold: 10,
                                no_results_text: "Поиск не нашел ничего",
                                disable_search: true
                            });
                            $("#company_zipcode").mask("999999");
                            $('.form_widget').on('change','#company_region', function(){
                                $.ajax({
                                    type: "GET",
                                    url: Routing.generate('select_city', { regionId: $('#company_region').val() }),
                                    success: function (msg) {
                                        $('#company_city').html(msg);
                                        $('#company_city').trigger("chosen:updated");
                                    }
                                })
                            });
                        }
                    });
//                    $('.form_company').fadeIn(300,function(){ $('.form_driver').fadeOut(300)});
//                    $('select').trigger("liszt:updated");
                }
            });

            $('.form_widget').on('change','#driver_region', function(){
                $.ajax({
                    type: "GET",
                    url: Routing.generate('select_city', { regionId: $('#driver_region').val() }),
                    success: function (msg) {
                        $('#driver_city').html(msg);
                        $('#driver_city').trigger("chosen:updated");
                    }
                })
            });
            $('.form_widget').on('change','#company_region', function(){
                $.ajax({
                    type: "GET",
                    url: Routing.generate('select_city', { regionId: $('#company_region').val() }),
                    success: function (msg) {
                        $('#company_city').html(msg);
                        $('#company_city').trigger("chosen:updated");
                    }
                })
            });
        });

    </script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/crmmain/lib/chosen/chosen.css') }}" rel="stylesheet" media="all">
    <style>
        .form_company{
            display: none;
        }
        .form{
            margin: 0 auto;
            width: 500px;
            text-align: center;
        }
        .userTypeDiv{
            text-align: left;
        }
        /*.userType{*/
            /*width: 215px;*/
        /*}*/
        .label{
            width: 250px;
        }
        #register_delivery{
            width: 218px;
        }
        /*.input-upload{*/
            /*background: #dadada;height: 29px;*/
            /*padding: 0 20px;*/
            /*border: none;*/
            /*cursor: pointer;*/
            /*font-size: 14px;*/
        /*}*/
        .loader{
            width: 64px;
        }
        .row_comment{
            font-size: 12px;
            color: #555555;
        }
        .date_year{
            width: 50px;
        }
        .date_month{
            width: 110px;
            margin-right: 5px;
        }
        .date_day{
            width: 50px;

        }
        #driver_city , #driver_street, #driver_corp, #driver_room, #user_city , #user_street, #user_corp, #user_room{
            width: 145px;
        }
        .table-title{
            border-bottom: 1px solid #CCC;
            padding: 10px 10px 10px 40px;
            font-weight: bold;
            color: #333333;
        }
        label{
            color: #333333;
            font-size: 14px;
        }
        .form_errors ul li{
            color: #CC3333;
            list-style: none;
            padding-bottom: 5px;
        }
        #fullAddress, #fullAddress2{
            color: #303B91;
            /* font-size: 0.8em; */
            font-style: italic;
            padding: 5px;
            border: 1px solid #CCC;
        }

    </style>
{% endblock %}