{% extends 'CrmAdminBundle::layout.html.twig' %}

{% block content %}
    <div class="crumbs">
        <a href="#">Страницы</a>
        >>
        <a href="{{ path('page_add') }}">Добавить</a>
    </div>

    <table class="list">
        <tr>
            <th>Название</th>
            <th>URL</th>
            <th class="setting"></th>
        </tr>
        {% for page in pages %}
            <tr>
                <td>{{ page.title }}</td>
                <td>
                    {{ page.url }}
                    <a href="#" target="_blank"><img class="ico" src="{{ asset('bundles/crmadmin/images/icon/image14.png') }}"/></a>
                </td>
                <td class="setting">
                    <a href="{{ path('page_edit',{ 'pageId' : page.id }) }}"><img class="ico" src="{{ asset('bundles/crmadmin/images/icon/image15.png') }}"/></a>
                    <a href="{{ path('page_delete',{ 'pageId' : page.id }) }}"><img class="ico" src="{{ asset('bundles/crmadmin/images/icon/image13.png') }}"/></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
