<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block title %}
            {% if page is defined and page.title is defined  %}
                <title>{{ page.title }}</title>
            {% else %}
                <title>Система подачи заявок</title>
            {% endif%}
        {% endblock %}
        {% block stylesheets %}
            <link href="{{ asset('bundles/crmmain/stylesheets/common.css') }}" rel="stylesheet" media="all">
        {% endblock %}
        {% block javascripts %}
            <script rel="script" src="{{ asset('bundles/crmmain/javascripts/jQuery.js') }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            <script>
                $(document).ready(function(){
                    $('#popup-close').click(function(){
                        $('.popup').fadeOut();
                    });
                })
            </script>
        {% endblock %}
    </head>
    <body>
        <div class="body">
            <header>
                <a href="{{ path('main') }}">
                    <img src="{{ asset('bundles/crmmain/images/head.png') }}">
                </a>
            </header>
            <div class="content">
                {% include ("CrmMainBundle::menu.html.twig")  %}
                {% block content %}{% endblock %}
            </div>
            {# @todo Перевести в плагин #}
        </div>
        <footer>

        </footer>
        <div class="popup">
            <div class="inpopup">
                <title></title>
                <p></p>
                <img class="btn-close" id="popup-close" src="{{ asset('bundles/crmmain/images/close.png') }}" />
            </div>
        </div>
    </body>
</html>