<div class="menu">
    <span><a href="{{ path('page',{ 'url' : 'about'}) }}">О проекте</a></span>
    <span><a href="{{ path('documents') }}">Документы</a></span>
    <span><a href="{{ path('faq') }}">Частые вопросы</a></span>
    <span><a href="{{ path('status') }}">Проверить статус</a></span>
    <span><a href="{{ path('activate_index') }}">Активация</a></span>
</div>

